:root{
  --color-orange: #e3531d;
  --color-bg: #36373C;
  --color-white: #FFFFFF;
  --color-bg-black: #36373C;
  --color-bg-medium: #2C2D32;
}

html {
  background-color: var(--color-bg-black);
  font-family: 'Montserrat';
}

*::selection{
  background-color: var(--color-orange);
}

.full-wrapper {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper{
  max-width: 1200px;
  width: 100%;
  padding: 0px 20px 0px 20px;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */