.hero {
    display: flex;
    margin-top: 20px;
    position: relative;
    min-height: 63vh;
}

.hero__content {
    width: 100%;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero__content--title {
    font-style: normal;
    font-weight: 700;
    font-size: clamp(40px, 13vw, 105px);
    color: var(--color-white);
    max-width: 700px;
    line-height: 120%;
    filter: drop-shadow(6px 10px 5px black);
}

.hero__content--vocation {
    color: var(--color-white);
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: clamp(1.2rem, 2.5vw, 1.425rem);
}

.hero__content--vocation:before {
    content: '< ';
    color: var(--color-orange);
    font-weight: 600;
    font-size: 1.5rem;
}

.hero__content--vocation:after {
    content: ' />';
    color: var(--color-orange);
    font-weight: 600;
}

.hero__content--text {
    color: var(--color-white);
    font-family: 'Verdana';
    font-style: normal;
    font-size: clamp(1rem, 2vw, 1.125rem);
    line-height: 150%;
    max-width: clamp(266px, 38vw, 400px);
}

.hero__content--button {
    width: clamp(150px, 18vw, 182px);
    height: 45.53px;
    color: var(--color-white);
    border-radius: 5px;
    box-shadow: 4px 4px 4px 0px #00000040;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
}

.hero__content--button:hover {
    box-shadow: 4px 4px 4px 0px var(--color-orange);
}

.hero__content--arrow {
    display: none;
}

.hero__bg {
    position: absolute;
    right: 0;
    z-index: -1;
    overflow: hidden;
}

.hero__bg img {
    animation: rotate 300s infinite forwards;
    filter: brightness(0.5);
}

.hero__content--arrows {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.hero__content--arrow:nth-child(1),
.hero__content--arrow:nth-child(2),
.hero__content--arrow:nth-child(3) {
    display: block;
    color: var(--color-orange);
    margin-bottom: -15px;
    width: 100%;
    opacity: 0;
}

.hero__content--arrow:nth-child(1) {
    font-size: 20px;

    animation: fadein 2s infinite .3s forwards;
}

.hero__content--arrow:nth-child(2) {
    font-size: 30px;
 
    animation: fadein 2s infinite .6s forwards;
}

.hero__content--arrow:nth-child(3) {
    font-size: 40px;
  
    animation: fadein 2s infinite .9s forwards;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 100%;
    }

    100% {
        opacity: 0;
    }
}

@keyframes rotate {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

@media (min-width:767.8px) {
    .hero {
        margin-left: clamp(11px, 3.5vw, 45px);
        min-height: 88vh;
        margin-top: 0;
        place-items: center;
    }

    .hero__bg {
        display: block;
        margin-right: -60px;
    }

    .hero__content {
        padding-left: 40px;
        min-height: 600px;
        position: relative;
    }

    .hero__bg img {
        animation: rotate 300s infinite forwards;
        filter: brightness(1.3);
    }
}