/* modo noturno  */
#theme-toggle {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
}

.light-mode {
    background-color: #b1b1b1c9;
    color: #333;
}

.light-mode #theme-toggle {
    background-color: #ffffffbd;
    color: #333;
}

.light-mode .hero__social a {
    color: green;
}

.light-mode .header_menu li>a {
    color: purple;
}