html, body {
  cursor: default !important;
}

.header {
  height: 90px;
  width: 100%;
  /* max-width: 1200px; */
  color: var(--color-white);
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.btn_dropdown {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  position: relative;
}

.btn_dropdown{
  cursor: pointer;
  width: 20px;
  height: 20px;
  user-select: none;
}

.btn_dropdown .line {
  width: 20px;
  height: 2px;
  background-color: var(--color-white);
  display: flex;
  transition: transform 1s;
}

.line1.active {
  transform: rotate(45deg);
  position: absolute;
  background-color: var(--color-orange);
}

.line2.active {
  display: none;
}

.line3.active {
  transform: rotate(-45deg);
  position: absolute;
  cursor: none;
  background-color: var(--color-orange);
}

.mobile {
  position: relative;
}

.menu-mobile {
  top: 30px;
  position: relative;
}

.menu-mobile.active {
  top: 30px;
}

.menu-mobile ul {
  display: flex;
  row-gap: 10px;
  flex-direction: column;
  position: absolute;
  align-items: flex-end;
  /* width: 100vw; */
  padding-bottom: 20px;
  right: 999px;
  z-index: 999;
  transition: right .3s;

  background-color: var(--color-orange); /* Define uma cor de fundo com transparência */
  border-radius: 10px; /* Especifica um raio de borda para suavizar as bordas do cartão */
  padding: 20px; /* Adiciona algum preenchimento interno para o conteúdo */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra suave para separar o cartão do fundo */

  width: 100vw;

}

.menu-mobile.active ul {
  right: 0;
}

.menu-mobile ul li{
  margin-right: 10px;
}

.header__wrapper .desktop {
  display: none;
}

.header__wrapper {
  width: 100%;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__wrapper .logo {
  width: clamp(50px, 8vw, 57px);
  overflow: hidden;
  animation: teste 2s 1s forwards;
  /* transform: scale(.6); */
}


.header__wrapper .logo img {
  max-height: 80px;
  width: clamp(180px, 31vw, 280px);
  object-fit: contain;
}

.header__wrapper .header_menu {
  display: flex;
  column-gap: 15px;
}

.header_menu li>a {
  color: var(--color-white);
  transition: color .3s ease;
  font-size: clamp(14px, 4vw, 16px);
  font-family: 'Montserrat', serif;
}

.header__wrapper .header_menu li>a:hover {
  display: block;
  color: var(--color-orange);
}

@media (min-width:767.8px)  {
  .header__wrapper .logo {
    width: 100%;
    overflow: hidden;
    transform: scale(1);
  }

  .header__wrapper .mobile {
    display: none;
  }

  .header__wrapper .desktop {
    display: block;
  }

}

@media (min-width:1200px) {

}
